<dl>
  <dd>
    <table width="694" cellspacing="0" cellpadding="9">
      <tbody>
        <tr>
          <td width="130" height="9">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Warna </span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="center">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">1y</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="center">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">2y</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="center">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">3y</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="center">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">4-5y</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="center">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">6-7y</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="center">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">8-9y</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="9">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Maroon</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="9">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Hitam</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="9">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Broken White</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="9">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Deep Blue</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="10">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Navy</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="8">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Ice Blue</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="10">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Mocca</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="10">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Milo</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="10">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Dusty Pink</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="10">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Taro</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="10">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Candy Green</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="10">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Lilac</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
        <tr valign="top">
          <td width="130" height="9">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">Army</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">110.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">120.000</span></span
              >
            </p>
          </td>
          <td width="74">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">130.000</span></span
              >
            </p>
          </td>
          <td width="68">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">140.000</span></span
              >
            </p>
          </td>
          <td width="72">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">150.000</span></span
              >
            </p>
          </td>
          <td width="75">
            <p class="western" align="justify">
              <span style="font-family: Times New Roman, serif"
                ><span style="font-size: medium">160.000</span></span
              >
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </dd>
</dl>
<dl></dl>
<p class="western" align="justify">
  <span style="font-family: Times New Roman, serif"
    ><span style="font-size: medium"
      ><strong>Deskripsi Produk:</strong>
    </span></span
  >
</p>
<p class="western" align="justify">
  <span style="color: #000000"
    ><span style="font-family: Times New Roman, serif"
      ><span style="font-size: medium"
        >Harap Baca Sebelum Membeli Barang Tidak Dapat Ditukar / Dikembalikan,
        Kecuali Kesalahan Ada Di Pihak Kami Wajib Melihat Ukuran Sebelum Order
      </span></span
    ></span
  >
</p>
<p class="western" align="justify">
  <span style="color: #000000"
    ><span style="font-family: Times New Roman, serif"
      ><span style="font-size: medium">TRANSFER = SETUJU </span></span
    ></span
  >
</p>
<p class="western" align="justify">
  <span style="color: #000000"
    ><span style="font-family: Times New Roman, serif"
      ><span style="font-size: medium"
        >MENERIMA PESANAN GROSIR, harga grosir bisa langsung chat admin Ukuran
        dapat diperkirakan melalui umur atau tinggi anak
      </span></span
    ></span
  >
</p>
<p class="western" align="justify">
  <span style="color: #000000"
    ><span style="font-family: Times New Roman, serif"
      ><span style="font-size: medium"
        >*size chart kita mungkin ada perbedaan 2-3cm karena faktor cutting dan
        proses jahit</span
      ></span
    ></span
  >
</p>
<p class="western" align="justify">
  <span style="color: #000000"
    ><span style="font-family: Times New Roman, serif"
      ><span style="font-size: medium"
        >Menggunakan material Senorita Import</span
      ></span
    ></span
  >
</p>
<p class="western" align="justify"></p>
